/* common-style */
* {

    font-family: 'Work Sans';
    margin: 0%;

}

.title {
    color: #FF42A5;
}

/* nav bar style */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.navbar-menu {
    list-style: none;

}

.navbar-menu li {
    display: inline;
}

.menu-item {
    margin-left: 2rem;
    text-decoration: none;
    color: #3C354F;
    font-size: 13px;
    font-weight: 500;
}

.navbar-follow {
    background-color: rgb(227, 227, 227);
    border-radius: 5px;
    padding: 2vh;
    text-align: center;
}


/* mobile-screen */
@media screen and (max-width:426px) {
    nav {
        display: block;
        padding: 4%;
        box-shadow: none;
    }

    .navbar-title {
        text-align: center;
    }

    .navbar-menu {
        text-align: center;
    }

    .menu-item,
    .navbar-follow {
        display: block;
        margin: 10%;
    }

}

/* tablet-screen */
@media screen and (min-width:427px) and (max-width:768px) {
    nav {
        display: block;
        text-align: center;
        padding: 3%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    }

    .navbar-title {
        margin-bottom: 5%;
        text-align: center;
    }

    .menu-item {
        display: inline;
        text-align: center;

    }

    .navbar-follow {
        padding: 5px;
        margin-left: 5%;
    }




}