/* common-style */
* {

    font-family: 'Work Sans';
    margin: 0%;
    /* padding: 0%; */

}

.title {
    color: #FF42A5;
}

/* nav-bar-start */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.navbar-menu {
    list-style: none;

}

.navbar-menu li {
    display: inline;
}

.menu-item {
    margin-left: 2rem;
    text-decoration: none;
    color: #3C354F;
    font-size: 13px;
    font-weight: 500;
}

.navbar-follow {
    background-color: rgb(227, 227, 227);
    border-radius: 5px;
    padding: 2vh;
    text-align: center;
}

/* nav-bar-end */

/* header-start */
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    padding: 10%;

}

.text-1 {
    font-weight: 500;
    color: #0B0223;
    margin-bottom: 2%;

}


.text-2 {
    font-size: 45px;
    background: linear-gradient(180deg, rgba(249, 72, 178), rgba(82, 35, 194, 0.88));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 2%;

}


.benefits,
.benefits li {
    list-style: none;
    margin-bottom: 30px;
}

.header-btn1 {
    background-color: #FF42A5;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px 15px;
    font-weight: 500;
    margin-right: 2%;
}

.header-btn2 {
    background-color: #4EC5F7;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    padding: 8px 15px;
    font-weight: 500;

}

.header-banner {
    width: 60%;
}

/* header-end */

/* media-query-start */
/* mobile-screen */
@media screen and (max-width:426px) {

    /* navbar-start  */
    nav {
        display: block;
        padding: 4%;
        box-shadow: none;
    }

    .navbar-title {
        text-align: center;
    }

    .navbar-menu {
        text-align: center;
    }

    .menu-item,
    .navbar-follow {
        display: block;
        margin: 10%;
    }

    /* navbar-end */

    /* header-start */

    header {
        display: block;
        text-align: center;
        width: 100%;
    }


    .header-text {
        width: 100%;
    }

    .benefits {
        text-align: justify;
    }

    .header-banner {
        display: none;
    }
}


/* header-end */



/* tablet-screen */
@media screen and (min-width:427px) and (max-width:768px) {

    /* navbar-start */
    nav {
        display: block;
        text-align: center;
        padding: 3%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    }

    .navbar-title {
        margin-bottom: 5%;
        text-align: center;
    }

    .menu-item {
        display: inline;
        text-align: center;

    }

    .navbar-follow {
        padding: 5px;
        margin-left: 5%;
    }

    /* navbar-end */

    /* header-start */
    header {
        background-image: url("images/Group 14.png");
    }

    .header-banner {
        display: none;
    }

    /* header-end */


}